@page {
    size: A4 landscape;

    @bottom-right {
        content: element(footer);
    }
}

table {
    page-break-inside: avoid;
    table-layout:fixed;
    border-collapse: collapse;
}

.studentGroupTeachertable {
    -fs-table-paginate: paginate;
    page-break-inside: avoid;
    page-break-after: always;
    border-spacing: 0;
}

.studentGroupTeachertable td,
.studentGroupTeachertable th {
    border-spacing: 0;
    border: solid black thin;
    padding: 3px;
    min-width: 50px;
}

.studentGroupTeachertable td:first-child,
.studentGroupTeachertable th:first-child {
    min-width: 100px;
}

.studentGroupTeachertable th { 
    font-weight: bold;
    word-wrap: break-word;
}

.studentGroupTeachertable:last-child {
    page-break-after: avoid;
}

#footer {
    position: running(footer);
    text-align: right;
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}